#radarfooter{
  text-align: left;
  clear: both;

  .footer-content {
    width: 60%;
    margin: 0 auto;

    p {
      padding-top: 60px;
      text-align: left;
    }

    img {
      -moz-transform:scale(0.4);
      -webkit-transform:scale(0.4);
      transform:scale(0.4);
    }
  }
}